/*
Theme Name:     Sparkle Store
Theme URI:      https://sparklewpthemes.com/wordpress-themes/free-ecommerce-wordpress-theme/
Author:         sparklewpthemes
Author URI:     https://sparklewpthemes.com
Description:    Sparkle Store is a clean user-friendly and feature-rich best free eCommerce SparkleStore child WordPress themes. The themes designed and developed especially for online shopping, eCommerce store websites. Sparkle store Lite is a versatile and highly customizable Free SparkleStore Child WordPress themes that allow you to make your own unique and professional website you have always wanted. Sparkle Store is one of the most accessible eCommerce online store WordPress themes which can easily accommodate all type of users with no coding skills to advanced or normal web developers. Sparkle Store includes excellent features for eCommerce website and practices of all type of eCommerce business, themes have included more advanced features like one-click demo data import, webpage layout, preloader, advanced theme color, customizer based theme options, page builder-friendly design, individual page &  post layout options also sparkle store Lite is fully compatible with WooCommerce and some other external plugins like YITH WooCommerce Wishlist, YITH WooCommerce Quick View, WOOF – Products Filter for WooCommerce, WooCommerce Variation Swatches, Jetpack, Contact Form 7 and many more plugins. if you face any problem while using our theme, you can refer to our theme documentation (http://docs.sparklewpthemes.com/sparklestore/) or contact our friendly support team (https://sparklewpthemes.com/support/) or Check demo at http://demo.sparklewpthemes.com/sparklestorelite/ and Read theme details at https://sparklewpthemes.com/wordpress-themes/sparklestorelite
Version:        1.0.1
Tested up to:   6.2
Requires PHP:   7.0
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Template:       sparklestore
Text Domain:    sparkle-store
Tags:           one-column, two-columns, right-sidebar, left-sidebar, custom-header, custom-background, custom-menu, translation-ready, featured-images, theme-options, custom-logo, e-commerce, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Sparkle Store is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Sparklewpthemes is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

body {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

#site-title,
.site-title,
#site-title a,
.site-title a,
.entry-title,
.entry-title a,
h1,
h2,
h3,
h4,
h5,
h6,
.widget-title {
    font-family: "Oswald";
}

.header-top {
    background-color: #1c1918;
    color: #fff;
}

.header-top * {
    color: #fff;
}

.header-nav {
    background-color: #000;
    padding: 5px 0;
}

.custom-logo-link,
.header-middle-inner {
    padding: 0;
    margin: 0;
}

.box-header-nav .main-menu .page_item a,
.box-header-nav .main-menu>.menu-item>a {
    display: inline-block;
    padding: 10px 5px;
    line-height: unset;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.menu-description {
    margin-top: -3px;
    top: 0px;
    right: -4px;
}

.box-header-nav .main-menu .page_item.current_page_item>a,
.box-header-nav .main-menu .page_item:hover>a,
.box-header-nav .main-menu>.menu-item.current-menu-item>a,
.box-header-nav .main-menu>.menu-item:hover>a {
    background-color: transparent !important;
    opacity: 0.8;
}

.site-branding h1 {
    margin-bottom: 0;
    line-height: unset;
    font-size: 2.2em;
    color: #fff;
}

.site-branding h1 a,
.site-branding p {
    color: #fff;
}

.site-cart-items-wrap {
    color: #ffff !important;
}

.searchicon,
.site-cart-items-wrap {
    cursor: pointer;
    border: none;
}

.searchicon {
    margin-left: 10px;
}

.site-cart-items-wrap .count {
    background: #fff !important;
    color: #000;
}

.search-layout-two.sparkle-close-icon {
    position: absolute;
    right: -6px;
    background: #fff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 10px;
    top: -6px;
}

.category-search-form {
    display: none;
    position: relative;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.product.product-category .woocommerce-loop-category__title,
.products-cat-image img,
.promosection .promoarea a figure,
.promosection .promoarea a figure img {
    border-radius: 4px;
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
    flex: 1;
}

.woocommerce .widget .woocommerce-mini-cart__buttons>a.button.checkout {
    box-shadow: unset;
}

.layout_one .blocktitlewrap .blocktitle p {
    color: #6f6f6f;
}

@media(max-width: 900px) {
    .fullpromobanner .promobanner-caption {
        width: 50%;
    }
}

.articlesListing .article .metainfo {
    font-size: 85%;
}